.App{
  height:100vh;
  background-color: #262625;
}
body{
  background-color: #262625;
}
.content{
  padding-top:10vh;

}
.content ul{
  margin:0
}


.selectlabel{
  display: flex;
  flex-direction: row;
}
.bottombox{
  
  display:flex;
  justify-content: space-around;
}
.chatspace{
  width: 63%;
}
.bigcard{
  width: 35%; 
}
.eventbox{
  display: flex;
  justify-content: flex-start;
  bottom: 50px;
  width: 100%;
}
.eventdata  {
  width: 110%;
}
.eventinfo{
  padding:10px;
  height: 52vh;
}
.eventchat{
  width: 100%;
}
.userlist{
  widows: 20%;
  margin-left:-5%;
  margin-right: -4%;
}
.alone{
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.selecthour{
  display: flex;
  justify-content: center;
  align-items: center;
}
.selecthour div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.select{
  margin-top:20px;
  width: 100%
}
.alone img{
  width: 50%
}
.unloged{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTy5ZgMND4aGm64FbzLoI0aktTyS8_6uGCUHfjekJziwo0lZ1-l");
  width:100%;
  height: 90vh;
  background-size: 100% 100%;

}
.logincontainer{
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputscontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  
}
